body.dark {
    background-color: #000;
    color: #777;
}

body.dark h1,
body.dark h2,
body.dark h3,
body.dark h4,
body.dark h5,
body.dark h6 {
    color: #fff;
}

body.dark .section-title h6 {
    background: #171717;
}

body.dark a {
    color: #fff;
}

body.dark .dark-bg {
    background: #0A0A0A;
}

body.dark .header-area .navigation,
body.dark .header-area .container {
    background: #000;
}

body.dark .header-areaabsolute-header .navigation,
body.dark .header-area .container {
    background: inherit;
}

body.dark .header-area.absolute-header .navigation {
    background: inherit;
}

body.dark .main-menu ul li.active a {
    color: #fff;
}

body.dark .menu-trigger span {
    background-color: #fff;
}

body.dark .white-btn {
    color: #333;
}

body.dark .single-counter-box p.counter-number {
    color: #fff;
}

body.dark .single-counter-box h6 {
    color: #858585;
}

body.dark .cp-custom-accordion .accordion-buttons {
    background: #0A0A0A;
    color: #fff;
    border-bottom: 1px solid #333;
    padding-left: 30px;
}

body.dark .cp-custom-accordion .accordion-body {
    background: #0A0A0A;
    color: #fff;
    padding-left: 30px;
}

body.dark .sidebar-wrap.white-bg {
    background: #0C0C0C !important;
}

body.dark .cta-area.gray-bg {
    background: #0a0909 !important;
}

body.dark .sidebar-wrap input,
body.dark .sidebar-wrap textarea {
    border-bottom: 1px solid #333;
}

body.dark .blog-category {
    background: #000;
}

body.dark .blog-category ul li {
    border-color: #333;
}

body.dark .single-latest-post {
    border-color: #333;
}

body.dark .popular-tag-wrap a {
    border-color: #333;
    padding: 12px;
}

body.dark .single-recent-post {
    border-bottom: 1px solid #333;
}

body.dark .blog-details-page .blog-tag-wrap a {
    border-color: #333;
}

body.dark .pagination-wrap {
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
}

body.dark #blog_page .page-link {
    background: #171717;
    color: #fff;
}

body.dark #blog_page .active>.page-link,
#blog_page .page-link.active {
    background: #0e0e0e !important;
    color: #fff;
}

body.dark .comments-form-wrap {
    background: #000;
}

body.dark .comments-form-wrap .comments-form input,
body.dark .comments-form-wrap .comments-form textarea {
    border-color: #333;
}

body.dark .comments-form-wrap input[type=submit] {
    background: #000;
    border-color: #333;
}

body.dark .contact-section .subimit-form-wrap input,
body.dark .contact-section .subimit-form-wrap textarea {
    border-bottom: 1px solid #333;
}

body.dark .border-top {
    border-top: 1px solid #333 !important;
}

body.dark .border-bottom {
    border-bottom: 1px solid #171717 !important;
}

body.dark #hamburger i {
    color: #fff;
}

body.dark .single-service-item .single-service-inner h5 {
    color: #fff;
}

body.dark .single-service-item:last-child {
    border-color: #333;
}

body.dark .single-service-item .single-service-inner {
    border-top: 1px solid #333;
}

body.dark .single-process-item {
    border-color: #333;
}

body.dark #testimonial-1 .testimonial-text p {
    color: #fff;
}

body.dark .single-service-wrap {
    border-color: #333;
}

body.dark .service-icon {
    border-bottom: 1px solid #333;
}

body.dark .single-process-wrap .process-num span {
    color: #171717;
}

body.dark #testimonial-2 .single-testimonial-item {
    border-color: #333;
}

body.dark #project-1 .project-title h5 {
    text-decoration-color: #333;
}

body.dark .single-counter-box p.counter-number {
    border-color: #333;
}

body.dark .single-blog-item .blog-meta {
    border-color: #333;
}

body.dark .single-blog-item:hover .blog-content h3 a {
    text-decoration-thickness: 1px;
}

body.dark .section-title span {
    color: #777;
}

body.dark #home-3 .video-play-btn {
    color: #fff;
}

body.dark .award-wrap {
    border-color: #333;
}

body.dark span.timeline-line {
    background: #333;
}

body.dark .contact-section input[type=submit] {
    border-color: #333;
    background: #000;
}

body.dark .contact-section .single-contact-info {
    border-color: #333;
}

body.dark .contact-section .social-area a {
    background: #333;
}

body.dark #project-standard .project-title:before {
    background: #333;
}

body.dark #project-grid .single-project-item .project-info h5 {
    color: #333;
}

body.dark .project-menu a.active,
.project-menu a:hover {
    color: #fff;
}

body.dark .white-btn:hover {
    background: #000;
    color: #fff;
    border-color: #000;
}